body, header, h1, p, ul, li {
    margin: 0;
    padding: 0;
    background-color: white;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.background {
    margin-top: 10px;
    margin-left: 10px;
    width: 50em;
    height: 20em;
    border: 1px solid #444141;
    border-radius: 7px;
    background-color: #3B3B3B;
}


#HeaderField {
    position: relative;
    height: 5em;
    width: 50em;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #3b3b3b;
    background: -moz-linear-gradient(top, #3b3b3b 19%, #323232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(19%,#3b3b3b), color-stop(100%,#323232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3b3b3b 19%,#323232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3b3b3b 19%,#323232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3b3b3b 19%,#323232 100%); /* IE10+ */
    background: linear-gradient(to bottom, #3b3b3b 19%,#323232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#323232',GradientType=0 ); /* IE6-9 */
}

button {
    border-radius: 10px;
    background-color: red;
    border: 1px solid white;
    color: white;
    height: 25px;
    width: 50px;
    box-shadow: 2px 1px 4px 1px black;
    position: absolute;
    top: 18px;
    left: 715px;
}

#LoginName {
    position: absolute;
    top: 15px;
    left: 550px;
    height: 23px;
}

#LoginEmail {
    position: absolute;
    top: 15px;
    left: 370px;
    height: 23px;
}
#Login{
    color:white;
    font-family:'Arial Rounded MT';
    font-weight:400;
    font-size:1.7em;
    top:13px;
    left:135px;
    position:absolute;
    text-align:justify;

}

#Title{
    margin-left:10px;
    color:gold;
    margin-bottom:25px;
    margin-top:25px;
    font-size:1.5em;
    text-align:justify;
    font-weight:700;
}

    #theText span {
        color: white;
        font-size:1em;
    }
    #theText{
        color:rgb(128, 138, 128);
        margin-left:10px;
        margin-right:10px;
      
    }